= form_with model: search_form, url: search_posts_path, method: :get, scope: :q, class: 'form-inline my-2 my-lg-0 mr-auto', local: true do |f|
  = f.search_field :content, class: 'form-control mr-sm-2', placeholder: '本文', value: @search_form.content
  = f.search_field :name, class: 'form-control mr-sm-2', placeholder: 'ユーザー名'
  = f.submit 'Search', class: 'btn btn-outline-success my-2 my-sm-0'